<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Transfer Example</title>
</head>
<body onload="moveResult()">
    <div>페이지 이동중입니다. 잠시만 기다려주세요...</div>
    <script>
        function moveResult() {
        
        // Server-encoded JSON data is decoded before parsing
        var encodedData = '<%= data %>';
        var decodedData = decodeURIComponent(encodedData);
        var receivedData = JSON.parse(decodedData);

        console.log(decodedData, receivedData)
        const dev = "http://localhost:3000";
        const product = "https://dinnermate.kr";

        // 데이터를 가져와 URL에 추가
        var targetUrl = product + '/payresult?data=' + decodedData;

        // 페이지 이동
        window.location.replace(targetUrl);

        console.log(receivedData);
        // Perform necessary actions with the received data
        }
    </script>
</body>
</html>
